{% extends "base.html" %}

{% block styles %}
<!-- Style -->
<link rel="stylesheet" href="/static/css/login_style.css">
{% end %}

{% block content %}

<div>
    <div class="provide-credentials-text">
        Please provide your email or username.
    </div>

    {% if status_msg %}
    <div class="provide-credentials-text" style="color: {{ status_msg_color }};">
        {{status_msg}}
    </div>
    {% end %}

    <form action="/forgot-password?host_url={{host_url}}" method="post">
        <div>
            <div class="input-title">Email, Username, or Phone</div>
            <input type="text" class="input-field" placeholder="Email, Username, or Phone" name="username" value="{{username}}" required>
        </div>
        <div class="forgot-password">
            <a href="/login?host_url={{host_url}}">Back</a>
        </div>
        <button class="login-btn">Forgot password</button>
    </form>
</div>

{% end %}