{% extends "base.html" %}

{% block styles %}
<!-- Style -->
<link rel="stylesheet" href="/static/css/login_style.css">
{% end %}

{% block content %}

<div>
    <div class="provide-credentials-text">
        Please provide your email or username.
    </div>

    <div id="message" style="display: none; color: red;"></div><br><br>

    <form id="forgotPasswordForm" method="post">
        <div>
            <div class="input-title">Email, Username, or Phone</div>
            <input type="text" class="input-field" placeholder="Email, Username, or Phone" id="username" name="username" value="{{username}}" required>
        </div>
        <div class="forgot-password">
            <a href="/login?host_url={{host_url}}">Back</a>
        </div>
        <button class="login-btn" onclick="submitForm()">Forgot password</button>
    </form>
</div>

{% end %}

{% block scripts %}

<script>


      // JavaScript code for displaying messages in the message div
    function showMessage(message, isGreen=false) {
        const messageDiv = document.getElementById("message");
        messageDiv.textContent = message;
        messageDiv.style.display = "block";
        if (isGreen){
            messageDiv.style.color = "green"
        }else{
            messageDiv.style.color = "red"
        }
    }


    
  // Submit form event handler
    function submitForm() {
        showMessage("");
        
        // Show loading overlay
        showLoading();

        var urlDetail = getUrlDetails()
        var baseUrl = urlDetail.baseUrl
        var search = urlDetail.search
        console.log(baseUrl);
        console.log(search);
        if (!baseUrl){
            hideLoading();
            showMessage("Could not proceed to login.");
            return;
        }
        
        if (!search){
            hideLoading();
            showMessage("Could not proceed to login.");
            return;
        }

        const formData = {
            username: $("#username").val().trim()
        };

        console.log(baseUrl + "/forgot-password?" + search)

        $.ajax({
            type: "POST",
            url: baseUrl + "/forgot-password?" + search,
            data: JSON.stringify(formData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                if (response){
                    if (response.message==OK) {
                        console.log("ok")
                    } else {
                        showMessage(response.message)
                    }
                }else{
                    showMessage("Something went wrong Please try again")
                }

                hideLoading();
            },
            error: function(error) {
                console.error("Error:", error);

                hideLoading();
                showMessage("Something went wrong Please try again")
            }
        });
    }
</script>

{% end %}