{% extends "base.html" %}

{% block styles %}
<!-- Style -->
<link rel="stylesheet" href="/static/css/login_style.css">
{% end %}

{% block content %}

{% if is_google_authentication_enabled %}
<button class="google-btn">
  <img src="google-logo.png" alt="Google Logo"> Sign in with Google
</button>
{% end %}

{% if is_google_authentication_enabled and is_credential_authentication_enabled %}
<div class="or">-- or --</div>
{% end %}

{% if is_credential_authentication_enabled %}
<div>
  <div class="provide-credentials-text">
    Please provide your credentials to login.
  </div>

  <div id="message" style="display: none; color: red;"></div><br><br>

  <form id="loginForm" method="post">
    <div>
      <div class="input-title">Email, Username, or Phone</div>
      <input type="text" class="input-field" placeholder="Email, Username, or Phone" id="username" name="username" required>
      <div class="input-title">Password</div>
      <div class="password-field">
        <input type="password" class="input-field" placeholder="Password" id="password" name="password" required>
        <span class="password-icon" onclick="togglePasswordVisibility(this)">👁️</span>
      </div>
      <div class="forgot-password">
        <a href="/forgot-password?host_url={{host_url}}  ">Forgot password?</a>
      </div>
    </div>
    <button class="login-btn" type="button" onclick="submitForm()">Login</button>
  </form>

</div>
{% end %}


{% end %}

{% block scripts %}
<script>

  const OK = "ok";

  function togglePasswordVisibility(icon) {
    var passwordField = icon.previousElementSibling;
    if (passwordField.type === "password") {
      passwordField.type = "text";
    } else {
      passwordField.type = "password";
    }
  }

      // JavaScript code for displaying messages in the message div
  function showMessage(message, isGreen=false) {
    const messageDiv = document.getElementById("message");
    messageDiv.textContent = message;
    messageDiv.style.display = "block";
    if (isGreen){
        messageDiv.style.color = "green"
    }else{
        messageDiv.style.color = "red"
    }
  }


  // Submit form event handler
  function submitForm() {
    showMessage("");
    
    // Show loading overlay
    showLoading();

    var plusUrl = getUrlDetails().plusUrl
    if (!plusUrl){
      hideLoading();
      showMessage("Could not proceed to login.");
      return;
    }

    const formData = {
      username: $("#username").val().trim(),
      password: $("#password").val().trim()
    };

    $.ajax({
        type: "POST",
        url: plusUrl,
        data: JSON.stringify(formData),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(response) {
            if (response){
                if (response.message==OK) {
                    console.log("ok")
                } else {
                    showMessage(response.message)
                }
            }else{
                showMessage("Something went wrong Please try again")
            }

            hideLoading();
        },
        error: function(error) {
            console.error("Error:", error);

            hideLoading();
            showMessage("Something went wrong Please try again")
        }
    });
  }

</script>
{% end %}