{% extends "base.html" %}

{% block styles %}
<!-- Style -->
<link rel="stylesheet" href="/static/css/login_style.css">
{% end %}

{% block content %}

<div>
    <div class="provide-credentials-text">
        Create new password.
    </div>

    {% if status_msg %}
    <div class="provide-credentials-text" style="color: {{ status_msg_color }};">
        {{status_msg}}
    </div>
    {% end %}

    <form action="/reset-password?token={{token}}" method="post">

        <div class="password-field">
            <input type="password" class="input-field" placeholder="New Password" name="password" required>
            <span class="password-icon" onclick="togglePasswordVisibility(this)">👁️</span>
        </div>

        <div class="password-field">
            <input type="password" class="input-field" placeholder="Confirm Password" name="confirm_password" required>
            <span class="password-icon" onclick="togglePasswordVisibility(this)">👁️</span>
        </div>
        
        <button class="login-btn">Reset password</button>
    </form>
</div>

{% end %}